<app-header></app-header>

<button nz-button nzType="primary" (click)="convertToPdf()">Make PDF</button>

<div id="PDF" #PDF>
    <h1 style="margin-top: 96px; text-align: center;">Need hi-rez photo of what the system will look like in an intersection</h1>
    
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nam maxime eos id delectus architecto ipsum possimus, obcaecati quis explicabo quisquam eaque debitis consectetur libero, ad quidem soluta facere? Voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis architecto doloribus porro unde, quo nam ab reprehenderit veniam vel sunt consectetur est doloremque voluptatum aperiam quam. Deleniti perspiciatis sequi vero!</h3>
</div>