<div nz-row nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="14">
        <span class="justify-center branding-font margin-left">Dryft</span>
    </div>
    <div nz-col nzSpan="10">
        <div nz-row nzJustify="space-evenly" nzAlign="middle" class="justify-center">
            <div nz-col nzSpan="6">
                <span class="branding">Solutions</span>
            </div>
            <div nz-col nzSpan="6">
                <span class="branding">About Us</span>
            </div>
            <div nz-col nzSpan="6">
                <span class="branding">Contact</span>
            </div>
            <div nz-col nzSpan="6">
                <button nz-button nzType="primary" nzSize="large" nzShape="circle"><span nz-icon nzType="menu" nzTheme="outline" class="yurp"></span></button>
            </div>
        </div>
    </div>
</div>
